<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
      [v-cloak] {
          display: none;
      }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div>
        <h2>{{room.performance_name}}</h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" v-model="content" @keyup.enter="sendMessage">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.nickname}} - {{message.content}}</a>  {{message.send_time}}
        </li>
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/dist/js/bootstrap.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
<script>
        // websocket & stomp initialize
        var sock = new SockJS("/ws/chat");
        var ws = Stomp.over(sock);
        // vue.js
        var vm = new Vue({
            el: '#app',
            data: {
                room_id: '',
                room: {},
                nickname: '',
                content: '',
                messages: []
            },
            created() {
                this.room_id = localStorage.getItem('wschat.room_id');
                this.nickname = localStorage.getItem('wschat.nickname');
                this.findRoom();
                this.findMessage();
            },
            methods: {
                findRoom: function() {
                    axios.get('/view/chat/room/'+this.room_id).then(response => { this.room = response.data; });
                },
                findMessage: function() {
                    axios.get('/view/chat/'+this.room_id+'/message').then(response => { this.messages = response.data; console.log('messages :: ' + this.messages); });
                },
                sendMessage: function() {
                    ws.send("/pub/view/chat/message", {}, JSON.stringify({type:'TALK', room_id:this.room_id, nickname:this.nickname, content:this.content, send_time: dayjs().format('YYYY-MM-DD HH:mm:ss')}));
                    this.content = '';
                },
                recvMessage: function(recv) {
                    this.messages.unshift({"type":recv.type,"nickname":recv.type=='ENTER'?'[알림]':recv.nickname,"content":recv.content, "send_time":recv.send_time})
                }
            }
        });
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/chat/room/"+vm.$data.room_id, function(message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            ws.send("/pub/view/chat/message", {}, JSON.stringify({type:'ENTER', room_id:vm.$data.room_id, nickname:vm.$data.nickname, send_time: dayjs().format('YYYY-MM-DD HH:mm:ss')}));
        }, function(error) {
            alert("error "+error);
        });
    </script>
</body>
</html>